# Ignore IDE configs
.idea/
.gradle/
*.iml
*.ipr
*.iws
out/
.vscode/

# Ignore build outputs
build/
**/build/
**/out/
bin/

# Ignore Gradle but keep wrapper scripts
gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Keep Gradle wrapper scripts
!gradlew
!gradlew.bat

# OS-specific
.DS_Store

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store